# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# PyTorch checkpoints
*.pt